button,
.btn {
  --controlWidth: none;
  @include baseControl();

  overflow: hidden;
  position: relative;
  font-size: 95%;
  white-space: nowrap;
  padding: 0.3rem 1rem 0.35rem 1rem;

  * {
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(var(--ControlBg));
  }


  &[type=submit] {
    background-color: var(--ControlCtaBg);
    border-color: var(--ControlCtaBorder);
  }

  &[type=submit]:hover {
    background-color: var(--ControlCtaBgHover);
    border-color: var(--ControlCtaBorderHover);
  }

  &[type=submit]:focus {
    background-color: var(--ControlCtaBgHover);
    border-color: rgb(var(--Accent));
  }

  // &:active,
  &[type=submit]:active {
    background-color: rgb(var(--ControlBgPressed));
    border-color: rgb(var(--Accent));
    transition: background ease calc(var(--transitionMs) / 3),
      border ease calc(var(--transitionMs) / 3),
      box-shadow ease calc(var(--transitionMs) / 3);
    }


  // color picker button
  &.color-picker {
    --color-margin-px: calc(var(--controlHeight) * 0.2px);
    padding: 0 0.5em;

    .color-display,
    .color-checkerboard {
      display: block;
      border-radius: calc(var(--borderRadius) / 2);
      padding: 0.125em 0.75em;

      position: absolute;
      top: var(--color-margin-px);
      bottom: var(--color-margin-px);
      left: var(--color-margin-px);
      right: var(--color-margin-px);
      margin: auto;
    }
    .color-display {
      background-color: var(--color-picker-value, #000);
      z-index: 1;
    }
    .color-checkerboard {
      background-size: 0.5em 0.5em;
      background-image: conic-gradient(rgb(255 255 255 / 6%) 25%, rgb(0 0 0 / 6%) 0 50%, rgb(255 255 255 / 6%) 0 75%, rgb(0 0 0 / 6%) 0);
      z-index: 0;
    }
  }

  &.btn--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem 0.3rem 1rem;

    svg {
      width: 1em;
      height: 1em;
      stroke-width: 0.125rem;
      stroke: rgb(var(--AppText));
      fill: rgb(var(--AppText));
    }
  }
}