<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap desktop uap3">

  <Identity
    Name="9662DuongDieuPhap.ImageGlass"
    Publisher="CN=29F1B9EC-D220-4DC3-BEDB-01A9CCA51904"
    Version="8.11.12.5" />

  <Properties>
    <DisplayName>ImageGlass</DisplayName>
    <PublisherDisplayName>Duong Dieu Phap</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>A lightweight, versatile image viewer</Description>
      
    <FileSystemWriteVirtualization xmlns="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6">enabled</FileSystemWriteVirtualization>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ImageGlass 8.11"
        Description="A lightweight, versatile image viewer"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>


        <Extensions>
            <uap:Extension Category="windows.fileTypeAssociation" EntryPoint="Windows.FullTrustApplication" Executable="ImageGlass\ImageGlass.exe">
                <uap:FileTypeAssociation Name="imageglass.assocfiles">
                    <uap:SupportedFileTypes>
                        <uap:FileType>.avif</uap:FileType>
                        <uap:FileType>.b64</uap:FileType>
                        <uap:FileType>.bmp</uap:FileType>
                        <uap:FileType>.cur</uap:FileType>
                        <uap:FileType>.cut</uap:FileType>
                        <uap:FileType>.dds</uap:FileType>
                        <uap:FileType>.dib</uap:FileType>
                        <uap:FileType>.emf</uap:FileType>
                        <uap:FileType>.exif</uap:FileType>
                        <uap:FileType>.gif</uap:FileType>
                        <uap:FileType>.heic</uap:FileType>
                        <uap:FileType>.heif</uap:FileType>
                        <uap:FileType>.ico</uap:FileType>
                        <uap:FileType>.jfif</uap:FileType>
                        <uap:FileType>.jp2</uap:FileType>
                        <uap:FileType>.jpe</uap:FileType>
                        <uap:FileType>.jpeg</uap:FileType>
                        <uap:FileType>.jpg</uap:FileType>
                        <uap:FileType>.jxl</uap:FileType>
                        <uap:FileType>.pbm</uap:FileType>
                        <uap:FileType>.pcx</uap:FileType>
                        <uap:FileType>.pgm</uap:FileType>
                        <uap:FileType>.png</uap:FileType>
                        <uap:FileType>.ppm</uap:FileType>
                        <uap:FileType>.psb</uap:FileType>
                        <uap:FileType>.svg</uap:FileType>
                        <uap:FileType>.tif</uap:FileType>
                        <uap:FileType>.tiff</uap:FileType>
                        <uap:FileType>.webp</uap:FileType>
                        <uap:FileType>.wmf</uap:FileType>
                        <uap:FileType>.wpg</uap:FileType>
                        <uap:FileType>.xbm</uap:FileType>
                        <uap:FileType>.xpm</uap:FileType>
                        <uap:FileType>.exr</uap:FileType>
                        <uap:FileType>.hdr</uap:FileType>
                        <uap:FileType>.psd</uap:FileType>
                        <uap:FileType>.tga</uap:FileType>
                        <uap:FileType>.3fr</uap:FileType>
                        <uap:FileType>.ari</uap:FileType>
                        <uap:FileType>.arw</uap:FileType>
                        <uap:FileType>.bay</uap:FileType>
                        <uap:FileType>.crw</uap:FileType>
                        <uap:FileType>.cr2</uap:FileType>
                        <uap:FileType>.cr3</uap:FileType>
                        <uap:FileType>.cap</uap:FileType>
                        <uap:FileType>.dcs</uap:FileType>
                        <uap:FileType>.dcr</uap:FileType>
                        <uap:FileType>.dng</uap:FileType>
                        <uap:FileType>.drf</uap:FileType>
                        <uap:FileType>.eip</uap:FileType>
                        <uap:FileType>.erf</uap:FileType>
                        <uap:FileType>.fff</uap:FileType>
                        <uap:FileType>.gpr</uap:FileType>
                        <uap:FileType>.iiq</uap:FileType>
                        <uap:FileType>.k25</uap:FileType>
                        <uap:FileType>.kdc</uap:FileType>
                        <uap:FileType>.mdc</uap:FileType>
                        <uap:FileType>.mef</uap:FileType>
                        <uap:FileType>.mos</uap:FileType>
                        <uap:FileType>.mrw</uap:FileType>
                        <uap:FileType>.nef</uap:FileType>
                        <uap:FileType>.nrw</uap:FileType>
                        <uap:FileType>.obm</uap:FileType>
                        <uap:FileType>.orf</uap:FileType>
                        <uap:FileType>.pef</uap:FileType>
                        <uap:FileType>.ptx</uap:FileType>
                        <uap:FileType>.pxn</uap:FileType>
                        <uap:FileType>.qoi</uap:FileType>
                        <uap:FileType>.r3d</uap:FileType>
                        <uap:FileType>.raf</uap:FileType>
                        <uap:FileType>.raw</uap:FileType>
                        <uap:FileType>.rwl</uap:FileType>
                        <uap:FileType>.rw2</uap:FileType>
                        <uap:FileType>.rwz</uap:FileType>
                        <uap:FileType>.sr2</uap:FileType>
                        <uap:FileType>.srf</uap:FileType>
                        <uap:FileType>.srw</uap:FileType>
                        <uap:FileType>.x3f</uap:FileType>
                        <uap:FileType>.fits</uap:FileType>
                        <uap:FileType>.xv</uap:FileType>
                        <uap:FileType>.mjpeg</uap:FileType>
                        <uap:FileType>.viff</uap:FileType>
                    </uap:SupportedFileTypes>
                </uap:FileTypeAssociation>
            </uap:Extension>
            <desktop:Extension Category="windows.fullTrustProcess" Executable="ImageGlass\ImageGlass.exe" />
            <uap3:Extension Category="windows.appExecutionAlias" EntryPoint="Windows.FullTrustApplication" Executable="ImageGlass\ImageGlass.exe">
                <uap3:AppExecutionAlias>
                    <desktop:ExecutionAlias Alias="ImageGlass.exe" />
                </uap3:AppExecutionAlias>
            </uap3:Extension>
        </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="allowElevation" />
  </Capabilities>
</Package>
