<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.14.0" targetFramework="net48" />
  <package id="Magick.NET.Core" version="5.1.0" targetFramework="net48" />
  <package id="Magick.NET.SystemDrawing" version="2.0.5" targetFramework="net48" />
  <package id="Magick.NET-Q16-OpenMP-x64" version="7.22.1" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.8.51" targetFramework="net48" />
</packages>