<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />

    <!-- Uncomment each value to disable the fixes one by one. -->
    <!--
    <add key="Form.DisableSinglePassScalingOfDpiForms" value="true"/>
    <add key="ToolStrip.DisableHighDpiImprovements" value="true"/>
    <add key="CheckedListBox.DisableHighDpiImprovements" value="true"/>
    <add key="MonthCalendar.DisableHighDpiImprovements" value="true"/>
    <add key="AnchorLayout.DisableHighDpiImprovements" value="true"/>
    <add key="DataGridView.DisableHighDpiImprovements" value="true"/>
    -->
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Magick.NET.Core" publicKeyToken="2004825badfa91ec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
