[page="settings"] {
  #app {
    display: grid;
    grid-template-areas: "sidebar main" "sidebar footer";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
  }

  #app>aside {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    min-width: 11rem;
    padding: 0.5rem 0.25rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #app>main {
    grid-area: main;
    padding: 1rem;
    background-color: rgb(var(--AppBg) / 0.8);
    max-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;

    // background-color: aliceblue;
  }

  #app>footer {
    grid-area: footer;
    padding: 1rem;
    justify-content: end;

    // background-color: antiquewhite;

    button {
      min-width: 5rem;
    }
  }

  section {
    margin-bottom: 2rem;
    padding-left: 1rem;

    &.tab-page {
      padding-left: 0;
      margin-bottom: 0;
      min-width: 30rem;

      &:not(.active) {
        display: none;
      }
    }

    &>header {
      font-size: 120%;
      font-weight: 500;
      margin-bottom: 0.75rem;
      margin-left: -1rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}