[page="settings"] {
  #app {
    display: grid;
    grid-template-areas: "sidebar main" "sidebar footer";
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
  }

  #app>aside {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    min-width: 15rem;
    padding: 0.5rem 0.25rem;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #app>main {
    grid-area: main;
    padding: 1rem;
    background-color: rgb(var(--AppBg) / 0.75);
    max-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #app>footer {
    grid-area: footer;
    padding: 1rem;
    justify-content: end;
    background-color: rgb(var(--AppBg) / 0.4);

    button {
      min-width: calc(6.5rem * var(--fontScale));
    }
  }

  section {
    margin-bottom: 2rem;
    padding-left: 1rem;

    &.tab-page {
      padding-left: 0;
      margin-bottom: 0;
      min-width: 30rem;

      &:not(.active) {
        display: none;
      }
    }

    &>header {
      font-size: 120%;
      font-weight: 500;
      margin-bottom: 0.75rem;
      margin-left: -1rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .theme-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    position: relative;

    .theme-preview {
      padding-right: 0.5rem;

      .theme-preview-img {
        background-color: rgb(var(--AppBg) / 0.25);
        border: 1px solid rgb(var(--AppText) / 0.15);
        border-radius: var(--border-radius);
        overflow: hidden;
        position: relative;
        width: 130px;
        height: 80px;

        .theme-mode {
          position: absolute;
          top: 0.25rem;
          right: 0.25rem;
          z-index: 1;
          display: inline-block;
          width: 1rem;
          height: 1rem;
          border: 1px solid rgb(var(--AppText) / 0.5);
          border-radius: 100%;
          padding: 0.125em 0.25em 0.25em 0.25em;
          background-color: rgb(0 0 0 / 0.5);
          backdrop-filter: blur(1rem);
    
          &.theme-light {
            background-color: rgb(255 255 255 / 0.5);
          }
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .theme-info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content min-content;
    }

    .theme-heading {
      display: flex;
      align-items: start;
      white-space: nowrap;
      padding-top: 0.25em;

      .theme-name {
        font-size: 130%;
        font-weight: 500;
        margin-right: 0.25rem;
      }
      .theme-version {
        margin-right: 0.75rem;
      }
    }

    .theme-actions {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      margin-left: auto;

      label {
        margin-left: 0.5rem;
        position: relative;

        input[type="radio"] {
          opacity: 0 !important;
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          right: 0;
          pointer-events: none;

          &+ * {
            @include baseControl();

            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding-right: 0.5rem;
            width: auto;
            white-space: nowrap;

            svg {
              width: 1.15em;
              height: 1.15em;
              margin-right: 0.35em;
              stroke: rgb(var(--AppText));
              fill: rgb(var(--AppText));
            }
          }

          &:checked + * {
            color: white;
            background-color: rgb(var(--Accent) / 1);

            svg {
              stroke: white;
              fill: white;
            }
          }

          &:focus-visible + * {
            @include focusAnimation();
          }
        }
      }
    }

    .theme-description,
    .theme-location {
      color: rgb(var(--AppText) / 0.75);
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-style: italic;
    }
    .theme-description {
      margin-bottom: 0.25rem;
    }
    .theme-location {
      margin-bottom: 0.75rem;
    }
    .theme-author {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .command-preview {
    min-height: calc(3rem * var(--fontScale));
    max-height: calc(4rem * var(--fontScale));
    margin-top: 0;
    margin-bottom: 0;
  }

  .app-layout {
    height: calc(410px * var(--fontScale));
    width: calc(410px * var(--fontScale));
    display: grid;
    grid-template-areas: "region-top region-top region-top"
      "region-left region-center region-right"
      "region-bottom region-bottom region-bottom";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: min-content auto min-content;
    background-color: rgb(var(--ControlBg) / 0.5);
    border: 0.1rem solid var(--ControlBorder);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: background ease 300ms, border ease 300ms, shadow ease 300ms;

    &:hover {
      border-color: var(--ControlBorderHover);
    }

    .region-drop {
      background-color: rgb(var(--AppBg) / 0.15);
      border: 0.1rem dashed rgb(var(--InvertColor) / 0.1);
      border-radius: var(--border-radius);
      transition: background ease 300ms, border ease 300ms, shadow ease 300ms;

      &:has(button[draggable]) {
        border-color: transparent;
      }

      &.drag--enter {
        background-color: rgb(var(--Accent) / 0.1);
        border-color: rgb(var(--Accent)) !important;
        border-width: 0.15rem;
      }
      &.nodrop {
        pointer-events: none !important;
        opacity: 0.4;
      }
    }
    button[draggable] {
      --control-width: none;
      @include baseControl();

      padding: 0;
      width: 100%;
      height: 100%;
      min-height: 0;
      min-width: 0;
      border: 0.1rem solid transparent;
      border-radius: var(--border-radius);
      background-color: rgb(var(--Accent) / 0.2);
  
      &:hover {
        border-color: var(--ControlCtaBorderHover);
      }
    }


    [data-position="top"i],
    [data-position="bottom"i],
    [data-position="left"i],
    [data-position="right"i] {
      padding: 1rem;
      transition: background ease 300ms, border ease 300ms, shadow ease 300ms;
    }

    [data-position="top"i],
    [data-position="bottom"i] {
      .region-drop {
        height: 2rem;
        margin-bottom: 0.5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    [data-position="left"i],
    [data-position="right"i] {
      display: flex;
      align-items: center;
      justify-content: center;

      .region-drop {
        width: 2rem;
        height: 100%;

        button[draggable] span {
          writing-mode: vertical-rl;
        }
      }
    }


    .region-center {
      grid-area: region-center;

      --cell-size: 1.25rem;
      background-image: conic-gradient(#00000010 25%, #fff1 0 50%, #00000010 0 75%, #fff1 0);
      background-size: var(--cell-size) var(--cell-size);
      background-repeat: repeat;
    }
    [data-position="top"i] {
      grid-area: region-top;
      border-bottom: 0.1rem solid var(--ControlBorder);
    }
    [data-position="bottom"i] {
      grid-area: region-bottom;
      border-top: 0.1rem solid var(--ControlBorder);
    }
    [data-position="left"i] {
      grid-area: region-left;
      border-right: 0.1rem solid var(--ControlBorder);
    }
    [data-position="right"i] {
      grid-area: region-right;
      border-left: 0.1rem solid var(--ControlBorder);
    }
  }
}
