<!DOCTYPE html>
<html lang="en" color-mode="dark" page="quick-setup">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quick setup ImageGlass</title>
  <link rel="stylesheet" href="./dist/styles.css">
</head>

<body id="app">
  <div id="top">
    <aside style="padding-right: 2rem; min-width: calc(2rem + 64px);">
      
    </aside>

    <main>
      FrmQuickSetup
    </main>
  </div>


  <footer class="panel">
    <button id="BtnCheckForUpdate" type="submit" lang-text="_._CheckForUpdate">[Check for update]</button>
    <button id="BtnDonate" lang-text="FrmQuickSetup._Donate">[Donate]</button>
    <button id="BtnClose" lang-text="_._Close">[Close]</button>
  </footer>

  <script src="./dist/FrmQuickSetup.js"></script>
</body>
</html>