[page="quick-setup"] {
  #app {
    display: grid;
    grid-template-areas: "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    overflow: hidden;
  }

  #app>main {
    grid-area: main;
    padding: 1rem;
    background-color: rgb(var(--AppBg) / 0.75);
    max-height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
  }

  #app>footer {
    grid-area: footer;
    padding: 1rem;
    justify-content: end;
    background-color: rgb(var(--AppBg) / 0.4);

    button {
      min-width: calc(6.5rem * var(--fontScale));
    }
  }

  .page-header {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1rem;
  }

  .page-content {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: auto;

    .step {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &:last-of-type {
        margin-bottom: 0;
      }

      &>header {
        font-size: 120%;
        font-weight: 500;
        margin-bottom: 0.75rem;
      }
    }

    .ig-box-option {
      text-align: center;

      .emoji-icon {
        display: block;
        font-size: 300%;
        margin-bottom: 0.5rem;
      }

      .profile-name {
        font-size: 120%;
      }
    }
  }
}