[page="update"] {
  #app {
    display: grid;
    grid-template-areas: "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }

  #top {
    grid-area: main;
    display: flex;
    padding: 1rem;
    background-color: rgb(var(--AppBg) / 0.75);
    max-height: fit-content;
    overflow: auto;
  }

  #top>aside {
    position: sticky;
    top: 0;
    min-width: 4rem;
  }

  #app>footer {
    grid-area: footer;
    padding: 1rem;
    justify-content: end;

    button {
      min-width: calc(6.5rem * var(--fontScale));
    }
  }

  #BtnImageGlassStore {
    display: flex;
    padding: 0;
  }

  #BtnImageGlassStore img {
    height: 4.7rem;
  }

  #BtnImageGlassStore:hover {
    box-shadow: 0 4px 15px -10px #000;
  }

  #BtnImageGlassStore:active {
    box-shadow: 0 0 0 0 transparent;
  }

  .app-code {
    text-transform: capitalize;
  }

  .icon {
    font-size: 2.5rem;
    transition: all ease var(--transitionMs);
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .icon.status--checking {
    animation: rotating 1000ms ease infinite;
  }

  .status--checking,
  .status--updated,
  .status--outdated {
    display: none;
  }

  &[app-status=checking] .status--checking,
  &[app-status=updated] .status--updated,
  &[app-status=outdated] .status--outdated {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  #BtnUpdate {
    visibility: hidden;
  }

  &[app-status=updated] #BtnUpdate,
  &[app-status=checoutdatedking] #BtnUpdate {
    visibility: visible;
  }
}