
.ig-table {
  overflow: auto;
  border: 0.075rem solid var(--ControlBorder);
  border-radius: var(--border-radius);
  max-height: 200px;
  max-width: 100%;
  display: inline-block;

  &> table {
    border: 0;
    border-spacing: 0;

    &> thead > tr > th,
    &> tbody > tr > td {
      // text alignment
      &.col-align--center {
        text-align: center;
      }
      &.col-align--end {
        text-align: right;
      }
      &.col-align--start {
        text-align: left;
      }

      // vertical alignment
      &.col-valign--center {
        vertical-align: middle;
      }
      &.col-valign--end {
        vertical-align: bottom;
      }
      &.col-valign--start {
        vertical-align: top;
      }
    }

    &> thead {
      position: sticky;
      top: 0;
      z-index: 6;

      &> tr {
        &> th {
          font-size: 95%;
          border-bottom: 0.075rem solid var(--ControlBorder);
          border-right: 0.075rem solid var(--ControlBorder);
          padding: 0.372rem 0.5rem;
          white-space: nowrap;
          vertical-align: top;
  
          background-color: rgb(var(--ControlBg));
          backdrop-filter: saturate(180%) blur(20px);
  
          position: sticky;
          top: 0;
  
          // for sticky header column
          &.cell-sticky {
            border-left: 0;
            z-index: 6;
            left: 0;
          }
        }
      }
    }


    &> tbody > tr {
      &> td {
        border-bottom: 0.075rem solid transparent;
        border-right: 0.075rem solid var(--ControlBorder);
        padding: 0.34rem 0.5rem;
        background-color: rgb(var(--AppBg));
        transition: all ease 100ms;

        // for sticky row column
        &.cell-sticky {
          border-left: 0;
          position: sticky;
          z-index: 5;
          left: 0;
          background-color: rgb(var(--ControlBg));
          backdrop-filter: saturate(180%) blur(20px);
        }

        &:first-child {
          border-bottom-color: var(--ControlBorder);
        }
      }

      &:last-child {
        &> td {
          border-bottom: 0;
        }
      }

      &:hover > td {
        background-color: rgb(var(--Accent) / 0.1);
        box-shadow: inset 0 0.05rem 0 0 rgb(var(--Accent) / 0.1),
          inset 0 -0.05rem 0 0 rgb(var(--Accent) / 0.1);
      }
    }
  }
}
