.text-accent {
  color: rgb(var(--Accent) / 1);
}

.text-danger {
  color: rgb(219, 19, 24);
}

.text-warning {
  color: rgb(205, 98, 0);
}

.text-success {
  color: rgb(31, 146, 84);
}

.text-info {
  color: rgb(0, 102, 212);
}
