<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>

  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />

    <!-- Uncomment each value to disable the fixes one by one. -->
    <!--
    <add key="Form.DisableSinglePassScalingOfDpiForms" value="true"/>
    <add key="ToolStrip.DisableHighDpiImprovements" value="true"/>
    <add key="CheckedListBox.DisableHighDpiImprovements" value="true"/>
    <add key="MonthCalendar.DisableHighDpiImprovements" value="true"/>
    <add key="AnchorLayout.DisableHighDpiImprovements" value="true"/>
    <add key="DataGridView.DisableHighDpiImprovements" value="true"/>
    -->
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
