<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net40" />
  <package id="Facebook" version="7.0.6" targetFramework="net4" />
  <package id="IconLib.Unofficial" version="0.73.0" targetFramework="net40" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.4.701" targetFramework="net40" />
</packages>