<aside>
    <nav>
        <ul class="list">
            <li>
                <label>
                    <input type="radio" name="nav" value="general" />
                    <span data-lang="FrmSettings.Nav._General">[General]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="image" />
                    <span data-lang="FrmSettings.Nav._Image">[Image]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="slideshow" />
                    <span data-lang="FrmSettings.Nav._Slideshow">[Slideshow]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="edit" />
                    <span data-lang="FrmSettings.Nav._Edit">[Edit]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="viewer" />
                    <span data-lang="FrmSettings.Nav._Viewer">[Viewer]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="toolbar" />
                    <span data-lang="FrmSettings.Nav._Toolbar">[Toolbar]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="gallery" />
                    <span data-lang="FrmSettings.Nav._Gallery">[Gallery]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="layout" />
                    <span data-lang="FrmSettings.Nav._Layout">[Layout]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="keyboard" />
                    <span data-lang="FrmSettings.Nav._Keyboard">[Keyboard]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="file_assocs" />
                    <span data-lang="FrmSettings.Nav._FileTypeAssociations">[File type associations]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="tools" />
                    <span data-lang="FrmSettings.Nav._Tools">[Tools]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="language" />
                    <span data-lang="FrmSettings.Nav._Language">[Language]</span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="nav" value="appearance" />
                    <span data-lang="FrmSettings.Nav._Appearance">[Appearance]</span>
                </label>
            </li>
        </ul>
    </nav>
</aside>


<main>
    <!-- Tab: General -->
    <section class="tab-page" tab="general">
        <!-- General > General -->
        <section>
            <header data-lang="FrmSettings.Nav._General">[General]</header>
            <div class="mb-2">
                <span data-lang="FrmSettings.Tab.General._StartupLocation">[Startup location:]</span>
                <a class="text-nowrap" href="#">C:\Program Files\ImageGlass</a>
            </div>
            <div class="mb-2">
                <span data-lang="FrmSettings.Tab.General._ConfigLocation">[Configuration location:]</span>
                <a class="text-nowrap" href="#">C:\Program Files\ImageGlass</a>
            </div>
            <div class="mb-2">
                <span data-lang="FrmSettings.Tab.General._UserSettingsFile">[User settings file:]</span>
                <a class="text-nowrap" href="#">C:\Program Files\ImageGlass\igconfig.json</a>
            </div>
        </section>

        <!-- General > Start up -->
        <section>
            <header data-lang="FrmSettings.Tab.General._Startup">[Start up]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowWelcomeImage}}" />
                    <div data-lang="FrmSettings.Tab.General._ShowWelcomeImage">[ShowWelcomeImage]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldOpenLastSeenImage}}" />
                    <div data-lang="FrmSettings.Tab.General._ShouldOpenLastSeenImage">[ShouldOpenLastSeenImage]</div>
                </label>
            </div>
        </section>

        <!-- General > Real-time file update -->
        <section>
            <header data-lang="FrmSettings.Tab.General._RealTimeFileUpdate">[Real-time file update]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableRealTimeFileUpdate}}" />
                    <div data-lang="FrmSettings.Tab.General._EnableRealTimeFileUpdate">[EnableRealTimeFileUpdate]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldAutoOpenNewAddedImage}}" />
                    <div data-lang="FrmSettings.Tab.General._ShouldAutoOpenNewAddedImage">[ShouldAutoOpenNewAddedImage]</div>
                </label>
            </div>
        </section>

        <!-- General > Others -->
        <section>
            <header data-lang="FrmSettings.Tab.General._Others">[Others]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{AutoUpdate}}" />
                    <div data-lang="FrmSettings.Tab.General._AutoUpdate">[AutoUpdate]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableMultiInstances}}" />
                    <div data-lang="FrmSettings.Tab.General._EnableMultiInstances">[EnableMultiInstances]</div>
                </label>
            </div>

            <div class="mt-3 mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.General._InAppMessageDuration">[InAppMessageDuration]</div>
                    <input type="number" name="{{InAppMessageDuration}}" value="2000" min="0" max="60000" />
                </label>
            </div>
        </section>
    </section>


    <!-- Tab: Image -->
    <section class="tab-page" tab="image">
        <!-- Image > Image loading -->
        <section>
            <header data-lang="FrmSettings.Tab.Image._ImageLoading">[Image loading]</header>
            <div class="mb-2">
                <label class="me-2">
                    <div data-lang="FrmSettings.Tab.Image._ImageLoadingOrder">[ImageLoadingOrder]</div>
                    <select required>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                    </select>
                </label>
                <label>
                    <select required>
                        <option value="XXXXXXXX">[Ascending]</option>
                        <option value="XXXXXXXX">[Descending]</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldUseExplorerSortOrder}}" />
                    <div data-lang="FrmSettings.Tab.Image._ShouldUseExplorerSortOrder">[ShouldUseExplorerSortOrder]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableRecursiveLoading}}" />
                    <div data-lang="FrmSettings.Tab.Image._EnableRecursiveLoading">[EnableRecursiveLoading]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldGroupImagesByDirectory}}" />
                    <div data-lang="FrmSettings.Tab.Image._ShouldGroupImagesByDirectory">[ShouldGroupImagesByDirectory]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldLoadHiddenImages}}" />
                    <div data-lang="FrmSettings.Tab.Image._ShouldLoadHiddenImages">[ShouldLoadHiddenImages]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableLoopBackNavigation}}" />
                    <div data-lang="FrmSettings.Tab.Image._EnableLoopBackNavigation">[EnableLoopBackNavigation]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowImagePreview}}" />
                    <div data-lang="FrmSettings.Tab.Image._ShowImagePreview">[ShowImagePreview]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableImageTransition}}" />
                    <div data-lang="FrmSettings.Tab.Image._EnableImageTransition">[EnableImageTransition]</div>
                </label>
            </div>

            <div class="mt-3 mb-2">
                <div class="mb-2">
                    <b data-lang="FrmSettings.Tab.Image._EmbeddedThumbnail">[Embedded thumbnail]</b>
                </div>
                <div class="mb-2">
                    <label class="ig-checkbox">
                        <input type="checkbox" name="{{UseEmbeddedThumbnailRawFormats}}" />
                        <div data-lang="FrmSettings.Tab.Image._UseEmbeddedThumbnailRawFormats">[UseEmbeddedThumbnailRawFormats]</div>
                    </label>
                </div>
                <div class="mb-2">
                    <label class="ig-checkbox">
                        <input type="checkbox" name="{{UseEmbeddedThumbnailOtherFormats}}" />
                        <div data-lang="FrmSettings.Tab.Image._UseEmbeddedThumbnailOtherFormats">[UseEmbeddedThumbnailOtherFormats]</div>
                    </label>
                </div>
                <div>
                    <div class="mb-2" data-lang="FrmSettings.Tab.Image._MinEmbeddedThumbnailSize">[Minimum size of embedded thumbnail]</div>
                    <div class="d-flex align-items-center ms-3 ps-1">
                        <label class="me-3">
                            <div data-lang="FrmSettings.Tab.Image._MinEmbeddedThumbnailSize._Width">[Width]</div>
                            <input type="number" name="{{EmbeddedThumbnailMinWidth}}" value="0" min="0" max="100000" style="width: 5rem;" />
                        </label>
                        <label>
                            <div data-lang="FrmSettings.Tab.Image._MinEmbeddedThumbnailSize._Height">[Height]</div>
                            <input type="number" name="{{EmbeddedThumbnailMinHeight}}" value="0" min="0" max="100000" style="width: 5rem;" />
                        </label>
                    </div>
                </div>
            </div>
        </section>


        <!-- Image > Image booster -->
        <section>
            <header data-lang="FrmSettings.Tab.Image._ImageBooster">[Image booster]</header>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Image._ImageBoosterCacheCount">[ImageBoosterCacheCount]</div>
                    <select required>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Image._ImageBoosterCacheMaxDimension">[ImageBoosterCacheMaxDimension]</div>
                    <input type="number" name="{{ImageBoosterCacheMaxDimension}}" value="8000" min="0" max="1000000" />
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Image._ImageBoosterCacheMaxFileSizeInMb">[ImageBoosterCacheMaxFileSizeInMb]</div>
                    <input type="number" name="{{ImageBoosterCacheMaxFileSizeInMb}}" value="100" min="0" max="1048" />
                </label>
            </div>
        </section>


        <!-- Image > Color management -->
        <section>
            <header data-lang="FrmSettings.Tab.Image._ColorManagement">[Color management]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldUseColorProfileForAll}}" />
                    <div data-lang="FrmSettings.Tab.Image._ShouldUseColorProfileForAll">[ShouldUseColorProfileForAll]</div>
                </label>
            </div>
            <div class="mt-3 mb-2">
                <div>
                    <label class="me-2">
                        <div data-lang="FrmSettings.Tab.Image._ColorProfile">[ColorProfile]</div>
                        <select>
                            <option value="">[None]</option>
                            <option value="[CURRENT_MONITOR_PROFILE]">[CURRENT_MONITOR_PROFILE]</option>
                            <option value="[AdobeRGB1998]">[AdobeRGB1998]</option>
                            <option value="[AppleRGB]">[AppleRGB]</option>
                            <option value="[CoatedFOGRA39]">[CoatedFOGRA39]</option>
                            <option value="[ColorMatchRGB]">[ColorMatchRGB]</option>
                            <option value="[sRGB]">[sRGB]</option>
                            <option value="[USWebCoatedSWOP]">[USWebCoatedSWOP]</option>
                            <option value="[Custom]">[Custom]</option>
                        </select>
                    </label>
                    <button data-lang="_._Browse">[Browse...]</button>
                </div>
                <div class="mt-2">
                    <a href="#">
                        C:\Program File\ImageGlass\ImageGlass.icc
                    </a>
                </div>
            </div>
        </section>
    </section>


    <!-- Tab: Slideshow -->
    <section class="tab-page" tab="slideshow">
        <!-- Slideshow > Slideshow -->
        <section>
            <header data-lang="FrmSettings.Nav._Slideshow">[Slideshow]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{HideMainWindowInSlideshow}}" />
                    <div data-lang="FrmSettings.Tab.Slideshow._HideMainWindowInSlideshow">[HideMainWindowInSlideshow]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowSlideshowCountdown}}" />
                    <div data-lang="FrmSettings.Tab.Slideshow._ShowSlideshowCountdown">[ShowSlideshowCountdown]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableLoopSlideshow}}" />
                    <div data-lang="FrmSettings.Tab.Image._EnableLoopBackNavigation">[EnableLoopSlideshow]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableFullscreenSlideshow}}" />
                    <div data-lang="FrmSettings.Tab.Slideshow._EnableFullscreenSlideshow">[EnableFullscreenSlideshow]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{UseRandomIntervalForSlideshow}}" />
                    <div data-lang="FrmSettings.Tab.Slideshow._UseRandomIntervalForSlideshow">[UseRandomIntervalForSlideshow]</div>
                </label>
            </div>
        </section>

        <!-- Slideshow > Slideshow interval -->
        <section>
            <header data-lang="FrmSettings.Tab.Slideshow._SlideshowInterval">[Slideshow interval: 00:05:00]</header>
            <div class="mb-2">
                <div class="d-flex align-items-center">
                    <label class="me-3">
                        <div data-lang="FrmSettings.Tab.Slideshow._SlideshowInterval._From">[From]</div>
                        <input type="number" name="{{SlideshowInterval}}" value="5" step="0.1" min="0" style="width: 5rem;" />
                    </label>
                    <label>
                        <div data-lang="FrmSettings.Tab.Slideshow._SlideshowInterval._To">[To]</div>
                        <input type="number" name="{{SlideshowIntervalTo}}" value="5" step="0.1" min="0" style="width: 5rem;" />
                    </label>
                </div>
            </div>
        </section>
    </section>


    <!-- Tab: Edit -->
    <section class="tab-page" tab="edit">
        <!-- Edit > Edit -->
        <section>
            <header data-lang="FrmSettings.Nav._Edit">[Edit]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowDeleteConfirmation}}" />
                    <div data-lang="FrmSettings.Tab.Edit._ShowDeleteConfirmation">[ShowDeleteConfirmation]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowSaveOverrideConfirmation}}" />
                    <div data-lang="FrmSettings.Tab.Edit._ShowSaveOverrideConfirmation">[ShowSaveOverrideConfirmation]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShouldPreserveModifiedDate}}" />
                    <div data-lang="FrmSettings.Tab.Edit._ShouldPreserveModifiedDate">[ShouldPreserveModifiedDate]</div>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Edit._AfterEditingAction">[AfterEditingAction]</div>
                    <select required>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                    </select>
                </label>
            </div>
        </section>

        <!-- Edit > Clipboard -->
        <section>
            <header data-lang="FrmSettings.Tab.Edit._Clipboard">[Clipboard]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableCopyMultipleFiles}}" />
                    <div data-lang="FrmSettings.Tab.Edit._EnableCopyMultipleFiles">[EnableCopyMultipleFiles]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableCutMultipleFiles}}" />
                    <div data-lang="FrmSettings.Tab.Edit._EnableCutMultipleFiles">[EnableCutMultipleFiles]</div>
                </label>
            </div>
        </section>
    </section>


    <!-- Tab: Viewer -->
    <section class="tab-page" tab="viewer">
        <!-- Viewer > Viewer -->
        <section>
            <header data-lang="FrmSettings.Nav._Viewer">[Viewer]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowCheckerboard}}" />
                    <div data-lang="FrmSettings.Tab.Viewer._ShowCheckerboard">[ShowCheckerboard]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowCheckerboardOnlyImageRegion}}" />
                    <div data-lang="FrmSettings.Tab.Viewer._ShowCheckerboardOnlyImageRegion">[ShowCheckerboardOnlyImageRegion]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableNavigationButtons}}" />
                    <div data-lang="FrmSettings.Tab.Viewer._EnableNavigationButtons">[EnableNavigationButtons]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{CenterWindowFit}}" />
                    <div data-lang="FrmSettings.Tab.Viewer._CenterWindowFit">[CenterWindowFit]</div>
                </label>
            </div>
            <div class="mt-3 mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Viewer._PanSpeed">[PanSpeed]</div>
                    <input type="number" name="{{PanSpeed}}" value="20" step="0.1" min="0" max="100" />
                </label>
            </div>
        </section>


        <!-- Viewer > Zooming -->
        <section>
            <header data-lang="FrmSettings.Tab.Viewer._Zooming">[Zooming]</header>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Viewer._ImageInterpolationScaleDown">[ImageInterpolationScaleDown]</div>
                    <select required>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Viewer._ImageInterpolationScaleUp">[ImageInterpolationScaleUp]</div>
                    <select required>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Viewer._ZoomSpeed">[ZoomSpeed]</div>
                    <input type="number" name="{{ZoomSpeed}}" value="0" step="0" min="-500" max="500" />
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div data-lang="FrmSettings.Tab.Viewer._ZoomLevels">[ZoomLevels]</div>
                    <textarea rows="3"></textarea>
                </label>
            </div>
        </section>
    </section>


    <!-- Tab: Toolbar -->
    <section class="tab-page" tab="toolbar">
        <!-- Layout > Toolbar -->
        <section>
            <header>[Toolbar]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{HideToolbarInFullscreen}}" />
                    <div>[HideToolbarInFullscreen]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{EnableCenterToolbar}}" />
                    <div>[EnableCenterToolbar]</div>
                </label>
            </div>
            <div class="mt-3 mb-2">
                <label>
                    <div>[ToolbarIconHeight]</div>
                    <input type="number" name="{{ToolbarIconHeight}}" value="24" min="10" max="1000" />
                </label>
            </div>
        </section>
    </section>


    <!-- Tab: Gallery -->
    <section class="tab-page" tab="gallery">
        <!-- Layout > Gallery -->
        <section>
            <header>[Gallery]</header>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{HideGalleryInFullscreen}}" />
                    <div>[HideGalleryInFullscreen]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowGalleryScrollbars}}" />
                    <div>[ShowGalleryScrollbars]</div>
                </label>
            </div>
            <div class="mb-2">
                <label class="ig-checkbox">
                    <input type="checkbox" name="{{ShowGalleryFileName}}" />
                    <div>[ShowGalleryFileName]</div>
                </label>
            </div>

            <div class="mt-3 mb-2">
                <label>
                    <div>[ThumbnailSize]</div>
                    <input type="number" name="{{ThumbnailSize}}" value="50" min="20" max="500" />
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[GalleryCacheSizeInMb]</div>
                    <input type="number" name="{{GalleryCacheSizeInMb}}" value="400" min="0" max="2048" />
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[GalleryColumns]</div>
                    <input type="number" name="{{GalleryColumns}}" value="3" min="1" max="100" />
                </label>
            </div>
        </section>
    </section>


    <!-- Tab: Layout -->
    <section class="tab-page" tab="layout">
        <!-- Layout > Layout -->
        <section>
            <header>[Layout]</header>
        </section>
    </section>


    <!-- Tab: Keyboard -->
    <section class="tab-page" tab="keyboard">
        <!-- Keyboard > Mouse wheel action -->
        <section>
            <header>[Mouse wheel action]</header>
            <div class="mb-2">
                <label>
                    <div>[Scroll]</div>
                    <select>
                        <option value="{{DoNothing}}">[DoNothing]</option>
                        <option value="{{Zoom}}">[Zoom]</option>
                        <option value="{{PanVertically}}">[PanVertically]</option>
                        <option value="{{PanHorizontally}}">PanHorizontally</option>
                        <option value="{{BrowseImages}}">BrowseImages</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[PressCtrlAndScroll]</div>
                    <select>
                        <option value="{{DoNothing}}">[DoNothing]</option>
                        <option value="{{Zoom}}">[Zoom]</option>
                        <option value="{{PanVertically}}">[PanVertically]</option>
                        <option value="{{PanHorizontally}}">PanHorizontally</option>
                        <option value="{{BrowseImages}}">BrowseImages</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[PressShiftAndScroll]</div>
                    <select>
                        <option value="{{DoNothing}}">[DoNothing]</option>
                        <option value="{{Zoom}}">[Zoom]</option>
                        <option value="{{PanVertically}}">[PanVertically]</option>
                        <option value="{{PanHorizontally}}">PanHorizontally</option>
                        <option value="{{BrowseImages}}">BrowseImages</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[PressAltAndScroll]</div>
                    <select>
                        <option value="{{DoNothing}}">[DoNothing]</option>
                        <option value="{{Zoom}}">[Zoom]</option>
                        <option value="{{PanVertically}}">[PanVertically]</option>
                        <option value="{{PanHorizontally}}">PanHorizontally</option>
                        <option value="{{BrowseImages}}">BrowseImages</option>
                    </select>
                </label>
            </div>
        </section>

        <!-- Keyboard > Mouse click action -->
        <section>
            <header>[Mouse click action]</header>
            <div class="ig-table mb-2">
                <table style="min-width: 40rem;">
                    <thead>
                        <tr>
                            <th width="100">Click event</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="cell-sticky">Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="cell-sticky">Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="cell-sticky">Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="cell-sticky">Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="cell-sticky">Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="cell-sticky">Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>


    <!-- Tab: Language -->
    <section class="tab-page" tab="language">
        <!-- Language > Theme -->
        <section>
            <header>Language</header>
            <div class="mb-2">
                <label class="me-2">
                    <div>[Installed language packs]</div>
                    <select required>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                    </select>
                </label>

                <button>[Refresh]</button>
            </div>
            <div class="mb-2 mt-3">
                <a href="#">
                    [Install new language packs...]
                </a>
            </div>
            <div class="mb-2">
                <a href="#">
                    [Get more language packs...]
                </a>
            </div>
        </section>

        <!-- Language > Contributors -->
        <section>
            <header>[Contributors]</header>
            <div class="mb-2" style="min-height: 3rem;">
                Duong Dieu Phap
            </div>
        </section>
    </section>


    <!-- Tab: Appearance -->
    <section class="tab-page" tab="appearance">
        <!-- Appearance > Appearance -->
        <section>
            <header>Appearance</header>
            <div class="mb-2">
                <label>
                    <div>[WindowBackdrop]</div>
                    <select required>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                        <option value="XXXXXXXX">XXXXXXXX</option>
                    </select>
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[BackgroundColor]</div>
                    <input type="color" style="width: 5rem;" />
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[SlideshowBackgroundColor]</div>
                    <input type="color" style="width: 5rem;" />
                </label>
            </div>
        </section>

        <!-- Appearance > Theme -->
        <section>
            <header>[Theme]</header>
            <div class="mb-2">
                <label>
                    <div>[DarkTheme]</div>
                    <input name="{{DarkTheme}}" value="Kobe" />
                </label>
            </div>
            <div class="mb-2">
                <label>
                    <div>[LightTheme]</div>
                    <input name="{{LightTheme}}" value="Kobe - Light" />
                </label>
            </div>
        </section>
    </section>

</main>


<footer class="panel">
    <button id="BtnOK" type="submit" data-lang="_._OK">[_OK]</button>
    <button id="BtnCancel" data-lang="_._Cancel">[_Cancel]</button>
    <button id="BtnApply" data-lang="_._Apply">[_Apply]</button>
</footer>