<ImageGlass>
  <Theme>
    <Info name="2017 (Dark)" version="1.0" author="Dương Diệu Pháp" email="phap@imageglass.org" website="https://imageglass.org" description="Modern ImageGlass theme (Dark)" type="ImageGlass Theme Configuration" compatibility="3.0" preview="preview.png" />
    <main topbar="x" topbarcolor="#3a3c3d" topbartransparent="0" bottombar="x" bottombarcolor="#3a3c3d" backcolor="#3a3c3d" statuscolor="#f0f0f0" menubackgroundcolor="#484b4c" menutextcolor="#f0f0f0" />
    <toolbar_icon 
        back="ViewPreviousImage.svg"
        next="ViewNextImage.svg"
        leftrotate="RotateLeft.svg"
        rightrotate="RotateRight.svg"
        zoomin="ZoomIn.svg"
        zoomout="ZoomOut.svg"
        zoomlock="LockRatio.svg"
        autozoom="AutoZoom.svg"
        zoomtofit="ZoomToFit.svg"
        scaletofit="ActualSize.svg"
        scaletowidth="ScaleToWidth.svg"
        scaletoheight="ScaleToHeight.svg"
        autosizewindow="AdjustWindowSize.svg"
        open="OpenFile.svg"
        refresh="Refresh.svg"
        gotoimage="GoToImage.svg"
        thumbnail="ThumbnailBar.svg"
        checkerboard="Checkerboard.svg"
        fullscreen="FullScreen.svg"
        slideshow="Slideshow.svg"
        convert="Convert.svg"
        print="Print.svg"
        uploadfb="Sharing.svg"
        extension="Plugins.svg"
        settings="Settings.svg"
        about="About.svg" 
        menu="Menu.svg"
		delete="delete.svg"
        fliphorz="FlipHorz.svg"
		flipvert="FlipVert.svg"
		/>
  </Theme>
</ImageGlass>