*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
*:not([draggable]) {
  -webkit-user-drag: none;
  user-drag: none;
}

html {
  font-family: var(--fontBase);
  font-size: calc(var(--fontSize) * 1px);
  color: rgb(var(--AppText));
  accent-color: rgb(var(--Accent));
  overflow: hidden;
  transition: background ease var(--transitionMs);
}
body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  line-height: normal;
}

pre,
code,
kbd,
samp {
  font-family: var(--fontCode);
  font-size: 1em;
}

pre {
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sup,
sub {
  font-size: 60%;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 85%;
  font-family: var(--fontCode);
  vertical-align: middle;
  white-space: nowrap;

  background-color: rgb(var(--ControlBg) / 1);
  border: solid 1px rgb(var(--InvertColor) / 0.1);
  border-bottom-color: rgb(var(--InvertColor) / 0.1);
  border-radius: var(--borderRadius);
  box-shadow: inset 0 -1px 0 rgb(var(--InvertColor) / 0.1);
}

b,
strong {
  font-weight: 500;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

p:last-of-type {
  margin-bottom: 0;
}

hr {
  margin: 1rem 0;
  height: 0.05rem;
  background-color: rgb(var(--AppText) / 0.3);
  border: 0;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

a,
a:visited {
  display: inline-block;
  text-underline-position: under;
  transition: background ease var(--transitionMs);
  color: rgb(var(--Accent));
  border-radius: var(--borderRadius);
  padding: 0 0.125em 0.1em 0.125em;
}
a {
  --focus-color: var(--Accent);
  cursor: default;

  &:focus-visible,
  &:hover {
    color: rgb(var(--Accent));
    background-color: rgb(var(--InvertColor) / 0.1);
    filter: brightness(1.2);
  }
  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 1px rgb(var(--Accent) / 0.1);
    @include focusAnimation();
  }
  &:active {
    background-color: rgb(var(--InvertColor) / 0.05);
    filter: brightness(0.95);
    transition: background ease calc(var(--transitionMs) / 3);
  }
}
html[color-mode=light] a {
  &:focus-visible,
  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1.05);
  }
}


// Figures
//
// Apply a consistent margin strategy (matches our type styles).
figure {
  margin: 0 0 1rem;
}


// Images and content
img,
svg {
  vertical-align: middle;
}


// Tables
//
// Prevent double borders
table {
  caption-side: bottom;
  border-collapse: collapse;
}

// 1. Removes font-weight bold by inheriting
// 2. Matches default `<td>` alignment by inheriting `text-align`.
// 3. Fix alignment for Safari
th {
  font-weight: 500; // 1
  text-align: inherit; // 2
  text-align: match-parent; // 3
  text-align: -webkit-match-parent; // 3
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}


// Forms
//
// 1. Allow labels to use `margin` for spacing.
label {
  display: inline-block; // 1
}


// 1. Remove the margin in Firefox and Safari
input,
button,
select,
optgroup,
textarea {
  margin: 0; // 1
  font-family: inherit;
  line-height: inherit;
}


// Remove the inheritance of text transform in Firefox
button,
select {
  text-transform: none;
}
// Set the cursor for non-`<button>` buttons
//
// Details at https://github.com/twbs/bootstrap/pull/30562
[role="button"] {
  cursor: default;
}


select {
  // Remove the inheritance of word-wrap in Safari.
  // See https://github.com/twbs/bootstrap/issues/24990
  word-wrap: normal;

  // Undo the opacity change from Chrome
  &:disabled {
    opacity: 1;
  }
}


// Remove the dropdown arrow in Chrome from inputs built with datalists.
// See https://stackoverflow.com/a/54997118
[list]::-webkit-calendar-picker-indicator {
  display: none;
}


// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
  appearance: button;
}


// 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.
textarea {
  resize: vertical; // 1
}


// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See https://github.com/twbs/bootstrap/issues/12359
//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.
fieldset {
  min-width: 0; // 1
  padding: 0; // 2
  margin: 0; // 2
  border: 0; // 2
}


// Fix height of inputs with a type of datetime-local, date, month, week, or time
// See https://github.com/twbs/bootstrap/issues/18842
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}


// 1. Correct the outline style in Safari.
// 2. This overrides the extra rounded corners on search inputs in iOS so that our
//    `.form-control` class can properly style them. Note that this cannot simply
//    be added to `.form-control` as it's not specific enough. For details, see
//    https://github.com/twbs/bootstrap/issues/11586.
[type="search"] {
  outline-offset: -2px; // 1
  -webkit-appearance: textfield; // 2
  appearance: textfield;
}


// Remove the inner padding in Chrome and Safari on macOS.
::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}


// Remove padding around color pickers in webkit browsers
::-webkit-color-swatch-wrapper {
  padding: 0;
}


// Inherit font family and line height for file input buttons
::file-selector-button {
  font: inherit;
}


// 1. Change font properties to `inherit`
// 2. Correct the inability to style clickable types in iOS and Safari.
::-webkit-file-upload-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
  appearance: button;
}


::selection {
  background-color: rgb(var(--Accent) / 0.55);
}


// Correct element displays
output {
  display: inline-block;
}


// Remove border from iframe
iframe {
  border: 0;
}


// Progress
//
// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
  vertical-align: baseline;
}


// Hidden attribute
//
// Always hide an element with the `hidden` HTML attribute.
[hidden] {
  display: none !important;
}
